:root {
    /*==theme==*/
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #000e17;
    --color-bg-2: #001e2d;
    --color-bg-3: #012734;
    --color-bg-4: #003347;
    --color-light: #85a2b2;
    --color-white: hsl(0, 0%, 90%);
    --color-text: #128ab2;

    --container-width-lg: 88%;
    --container-width-md: 92%;

    --transition: all 400ms ease;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: var(--color-bg-3);
    color: var(--color-text) ;
    line-height: 1.7;
}

h1,h2 {
    line-height: 1.1;
    font-weight: 400;
}

h1{
    font-size: 4rem;
    color: var(--color-white);
}

h2{
    font-size: 3.5rem;
}

a{
    color: var(--color-light);
    transition: var(--transition);
}

a:hover {
    color: var(--color-primary);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
}

nav{
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/*nav class when scrolled using javascript*/
.window-scrolled{
    background: var(--color-bg-2);
    border-bottom: 0.2rem solid var(--color-bg-3);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*only for phones*/
.nav_toggle-btn{
    display: none;
}

.nav_logo{
    height: 4rem;
}

.nav_logo img{
    width: 100%;
    height: 100%;
}

.nav_links{
    display: flex;
    gap: 4rem;
}

.nav_socials{
    display: flex;
    gap: 1rem;
}

.nav_socials a{
    width: 2rem;
    height: 2rem;
    background: linear-gradient(var(--color-primary-variant), var(--color-primary) );
    border-radius: 0.5rem;
    color: var(--color-bg-4);
    display: grid;
    place-items: center;
}

.nav_socials a:hover{
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}


/*=================header================*/
header{
    height: 120vh;
    max-width: 100vw;
    position: relative;
    top: 0;
    background: linear-gradient(var(--color-bg-3), var(--color-bg-1));
    overflow: hidden;
}

.header-container{
    display: grid;
    grid-template-columns: 43% 53%;
    gap: 4%;
    margin-top: 10rem;
    position: relative;
}

.header_img-bg{
    background: var(--color-bg-4);
    height: 26rem;
    width: 16rem;
    position: absolute;
}

.header_img-lg{
    width: 23rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transition);
    overflow: hidden;
}

.header_img-sm{
    width: 23rem;
    height: 23rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
}

.header_left:hover .header_img-sm{
    opacity: 0;
    transition: var(--transition);
}

.header_left:hover .header_img-lg{
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg-3);
    top: 0;
    left: 0;    
}

.header_head{
    display: flex;
    gap: 2rem;
}

.empty{
    height: 3.5rem;
    width: 18rem;
    background: var(--color-bg-2);
    border-radius: 1.75rem;
    margin-bottom: 3.5rem;
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-bg-4);
}

.header_tag{
    color: var(--color-primary-variant);
}

.header_right p{
    margin-top: 2rem;
    width: 85%;
}

.header_btn-md{
    display: none;
}

.header_frames{
    position: absolute;
    top: 95vh;
    right: 44rem;
    transition: var(--transition);
}

.header_frame{
    width: 10rem;
    border: 0.4rem solid var(--color-bg-3);
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transition);
}

.header_frame:nth-child(2){
    transform: rotate(20deg);
    top: -2rem;
    left: 2rem;
}

.header_frames:hover .header_frame{
    transform: rotate(0);
}

.header_frames:hover .header_frame:nth-child(2){
    top: 0;
    left: 15rem;
}

.contact_btn{
    color: var(--color-bg-1);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.header_btn{
    background: linear-gradient(-30deg, var( --color-primary), var(--color-primary-variant));
    position: absolute;
    right: 6%;
    bottom: -5rem;
}

.header_btn:hover{
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-1rem);
    color: var(--color-bg-1);
}

.contact_btn i{
    font-size: 3.5rem;
    position: absolute;
}

.contact_btn p{
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 30s linear infinite;
}

.contact_btn p span{
    position: absolute;
    transform-origin: 0.3rem 5rem;
}

@keyframes spinText{
    to{
        transform: rotate(360deg);
    }
}



.about{
    margin-top: 22rem;
}

.about_container{
    margin-top: 16rem;
    display: grid;
    grid-template-columns: 10rem 26rem auto;
    gap: 3rem;
    position: relative;
}

.about_title{
    position: absolute;
    top: -7rem;
    z-index: 1;
}

.about_btn{
    color: var(--color-primary-variant);
    align-self: end;
}

.about_btn:hover{
    transform: translateY(-1rem);
    color: var(--color-primary);
}

.about_image{
    position: relative;
}

.about_img-bg{
    width: 16rem;
    height: 24rem;
    position: absolute;
    bottom: 0;
    background: var(--color-bg-4);
}

.about_img-lg{
    position: relative;
    left: 1rem;
    bottom: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: 500ms ease;
}

.about_img-sm{
    position: absolute;
    top: 3rem;
    left: 8rem;
    height: 22rem;
    width: 22rem;
    overflow: hidden;
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    transition: 500ms ease;
} 

.about_image:hover .about_img-sm{
    opacity: 0;
}

.about_image:hover .about_img-lg{
    bottom: 0;
    filter: saturate(1) brightness(1);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
    border: 1rem solid var(--color-bg-4);
}

.about_right{
    margin-left: 4rem;
}

.about_right p{
    margin: 0 4rem;
}

#gallery{
    margin-top: 10rem;
}

.gallery_container{
    position: relative;
}

.gallery_empty{
    width: 26rem;
    position: absolute;
    right: 14rem;
    top: 0;
}

.gallery_head{
    display: grid;
    grid-template-columns: auto 10rem;
    justify-content: space-between;
    align-items: center;
}

.gallery_head > p{
    width: 45rem;   
}

.gallery_btn{
    color: var(--color-primary-variant);
}

.gallery_btn:hover{
    transform: translateY(-1rem);
}

.gallery_section{
    padding-left: 4rem;
    padding-top: 4rem;
    color: var(--color-primary);
}

.gallery_pic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    gap: 3rem;
}

.gallery_pic article{
    border: 0.5rem solid var(--color-bg-4);
    transition: var(--transition);
}
/*
.gallery_pic article:nth-child(6){
    grid-row: 1/3;
}

.gallery_pic article:nth-child(4){
    grid-column: 2/4;
    grid-row: 2/3;
}*/

.gallery_pic article img{
    height: 100%;
    filter: saturate(0);
    transition: var(--transition);
}

.gallery_pic article:hover img{
    filter: saturate(1);
}

.gallery_pic article:hover{
    box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5);
}

footer{
    margin-top: 7rem;
}

.footer_container{
    border-top: 0.5rem solid var(--color-bg-4);
    padding-bottom: 1.6rem;
    padding-top: 5rem;
    display: flex;
    gap: 10rem;
}

.footer_links{
    position: absolute;
    display: flex;
    right: 4.8rem;
    gap: 2rem;
}


/*------------media -----------*/
@media screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md);
        position: relative;
    }
    h1{
        font-size: 2.5rem;
        line-height: 1.3;
    }
    h2{
        font-size: 2.5rem;
    }
    .nav_socials{
        display: none;
    }
    .nav_links{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav_links li{
        height: 5rem;
        box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7);
        animation: navAnimation 600ms ease forwards;
        transform: rotateX('90deg');
        opacity: 0;
        transform-origin: top;
    }

    .nav_links li:nth-child(2){
        animation-delay: 200ms;
    }

    .nav_links li:nth-child(3){
        animation-delay: 400ms;
    }

    .nav_links li:nth-child(4){
        animation-delay: 600ms;
    }

    @keyframes navAnimation {
        to {
            transform: rotate(0);
            opacity: 1;
        }
    }

    .nav_links li a{
        background: var(--color-bg-4);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 3rem;
        border-top: 1px solid var(--color-bg-2);
    }
    .nav_toggle-btn{
        display: inline-block;
        font-size: 2rem;
        background: transparent;
        cursor: pointer;
        color: var(--color-white);
    }
    #nav_toggle-close{
        display: none;
    }



    header{
        height: fit-content;
        padding: 10rem 0 10rem;
        display: grid;
        place-items: center;
    }
    .header_img-bg, .header_img-sm{
        display: none;
    }
    .header-container{
        grid-template-columns: 40% 54%;
        gap: 6%;
        margin: 0; 
    }
    .header_img-lg{
        filter: saturate(1) brightness(1);
        border: 1rem solid var(--color-bg-2);
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        border-radius: 15rem 15rem 0 0;
    }
    .header_tag{
        margin-bottom: 1rem;
    }
    .empty{
        display: none;
    }
    .header_right p{
        width: 100%;
        margin-top: 1.5rem;
    }
    .header_frames, .contact_btn{
        display: none;
    }
    .header_btn-md{
        background: linear-gradient(135deg, var(--color-primary-variant), var(--color-primary));
        color: var(--color-bg-1);
        margin-top: 2rem;
        display: inline-block;
        padding: 0.6rem 1.6rem;
        font-weight: 0.3rem;
        border-radius: 0.3rem;
    }
    .header_btn-md:hover{
        color: var(--color-bg-1);
    }


    .about_container{
        grid-template-columns: 40% 54%;
        gap: 6%;
    }
    .about_img-bg, .about_img-sm{
        display: none;
    }
    .about_img-lg{
        filter: saturate(1) brightness(1);
        top: 0;
        left: 0;
    }
    .about_image:hover .about_img-lg{
        border: none;
    }
    .about_right p {
        margin: 0;
        margin-bottom: 1rem;
    }



    .gallery_head > p{
        width: 100%;
        margin-top: 2rem;
    }
    .gallery_pic{
        margin-top: 3rem;
        gap: 1rem;
    }
    .gallery_pic article{
        border: none;
    }
}

@media screen and (max-width: 600px) {
    h1, h2{
        font-size: 2rem;
        line-height: 1.3;
        color: var(--color-white);
    }
    header{
        padding: 0;
        padding-bottom: 6rem;
    }
    .header-container{
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }
    .header_img-lg{
        width: 80%;
        height: 20rem;
        margin: 0 auto;
        margin-top: 7rem;
        overflow: hidden;
        border-radius: 15rem 15rem 0 0;
    }
    .header_head{
        justify-content: center;
    }
    .header_right p{
        margin-top: 1rem;
    }
    .header_title{
        margin-top: 1rem;
    }
    .about_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about_right p{
        width: 100%;
    }


    #gallery{
        margin-top: 6rem;
    }
    .gallery_head{
        grid-template-columns: 1fr;
    }
    .gallery_head > p{
        margin-top: 1rem;
    }
    .gallery_pic{
        display: block;
    }
    .gallery_pic article{
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;
    }



    footer{
        margin-top: 2rem;
    }
    
    .footer_container{
        border-top: 0.2rem solid var(--color-bg-4);
        padding-top: 5rem;
        display: flex;
        gap: 10rem;
    }
    
    .footer_links{
        position: absolute;
        display: flex;
        top: 10rem;
        left: 0;
        gap: 2rem;
        padding-bottom: 1.6rem;
    }
}